!#include ".Xresources.d/colors-solarized"
#include ".Xresources.d/colors-catppuccin-macchiato"

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

Emacs*useXIM: false

! XTerm/UXTerm
*.termName: xterm-256color
*.utf8: 1
*.locale: true
*.forcePackedFont: false
*.selectToClipboard: true
*.faceName: Cica:style=regular
*.faceSize: 12
*.cjkWidth : true
*.fontDoublesize: true
*.saveLines: 2000
*.geometry: 80x24

! URxvt
URxvt.font: xft:Cica:style=Regular:size=15:antialias=true,xft:Symbola
URxvt.intensityStyles: false
URxvt.buffered: true
URxvt.depth: 32
!URxvt.background: [95]#002732
URxvt.background: [95]#24273a
URxvt.cursorBlink: true
URxvt.pointerBlank: true
URxvt.transparent: false
URxvt.fading: 10%
URxvt.fadeColor: [0]#000000
URxvt.scrollBar: false
URxvt.lineSpace: 0
URxvt.letterSpace: -1
URxvt.termName: xterm-256color
URxvt.perl-ext-common: default,matcher,xim-onthespot,fullscreen,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 2
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-BackSpace: \033[33~
