! special
*.foreground:   white
*.background:   black
*.cursorColor:  white

! black dark/light
*.color0:  #272822
*.color8:  #75715e
! red dark/light
*.color1:  #f92672
*.color9:  #f92672
! green dark/light
*.color2:  #a6e22e
*.color10: #a6e22e
! yellow dark/light
*.color3:  #f4bf75
*.color11: #f4bf75
! blue dark/light
*.color4:  #66d9ef
*.color12: #66d9ef
! magenta dark/light
*.color5:  #ae81ff
*.color13: #ae81ff
! cyan dark/light
*.color6:  #a1efe4
*.color14: #a1efe4
! white dark/light
*.color7:  #f8f8f2
*.color15: #f9f8f5

Emacs*useXIM: false

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

XTerm*termName: xterm-256color
XTerm*utf8: 1
XTerm*locale: true
XTerm*forcePackedFont: false
XTerm*selectToClipboard: true
XTerm*faceName: DejaVu Sans Mono:size=12
XTerm*cjkWidth : true
XTerm*saveLines: 2000
XTerm*geometry: 80x24

URxvt.font: xft:Cica:style=Regular:size=14:antialias=true,xft:Symbola
URxvt.depth: 32
URxvt.buffered: true
URxvt.background: rgba:2700/2800/2200/dddd
URxvt.cursorBlink: true
URxvt.pointerBlank: true
URxvt.transparent: false
URxvt.fading: 10%
URxvt.fadeColor: rgba:ffff/ffff/ffff/0000
URxvt.scrollBar: false
URxvt.lineSpace: 0
URxvt.letterSpace: -1
URxvt.termName: xterm-256color
URxvt.perl-ext-common: default,matcher,xim-onthespot,fullscreen,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 2
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-BackSpace: \033[33~
