@charset "utf-8";
/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

/* ブックマークの"タブですべて開く"を非表示 */
.openintabs-menuitem, .bookmarks-actions-menuseparator { display: none !important; }

/* 新しいタブボタンを非表示 */
.tabs-newtab-button { display:none !important; }

/* ::::: Firefox 9 タブマウスオーバーで閉じるボタンを表示 ::::: */
.tabbrowser-tab[fadein]:not([pinned]):not(:hover):not([selected="true"]) .tab-close-button {
    display: none !important;
}
.tabbrowser-tab[fadein]:not([pinned]):hover .tab-close-button {
    display: -moz-box !important;
}

/* Global UI font */
/* * {
    font-size: 11pt !important;
} */

toolbarbutton#alltabs-button {
    -moz-binding: url("userChrome.xml#js");
}
